.btn.red {
    box-shadow: 0px 4px 0px #E04342;
}

.btn.red {
    background-color: #fa5a5a;
}

.btn {
    border: 0;
    padding: 5px 15px;
    color: #fff;
    position: absolute;
    right: 0;
}

.rounded {
    border-radius: 5px;
}

.btn:active {
	top: 4px;
}

.btn.red {
  box-shadow:0px 4px 0px #E04342;
}

.btn.red:active {
  box-shadow: 0 0 #ff4c4b;
  background-color: #ff4c4b;
}

.submit-btn,
.nav-button {
  padding: 10px;
  border: 2px solid #fff;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-button {
  margin: 5px;
}

.submit-btn:hover {
  background-color: #fa5a5a;
  color: #fff;
}

.nav-button:hover {
  background-color: #FFF;
  color: #fa5a5a;
}
