@import url('./reset.css');
@import url('./forms.css');
@import url('./card.css');
@import url('./header.css');
@import url('./buttons.css');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #000000;
  background: -webkit-linear-gradient(to left, #000000 , #434343);
  background: linear-gradient(to left, #000000 , #434343);
}

h1 {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

nav {
  color: white;
  margin: 20px 0;
  top: 0;
  background: #fa5a5a;
  padding: 10px 0;
  width: 100%;
}

nav a {
  color: white;
  margin-right: 10px;
}

h3 {
  color: #fa5a5a;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 20px;
}

#main h1 {
  font-size: 40px;
  color: white;
  border-radius: 10px;
  margin: 10px 0;
}

#main {
  text-align: center;
}

.selected {
  background-color: #fa5a5a;
  font-weight: 600;
  font-size: 20px;
}

.movie-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  box-shadow: 2px 2px 2px black;
  margin-bottom: 20px;
}

.movie-poster:hover {
  box-shadow: 2px 2px 2px black;
  margin-bottom: 20px;
}

.movie-card {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.movie-card img {
  height: 350px;
}

.movie-card p {
  color: white;
  line-height: 22px;
  margin-top: 5px;
}

.movie-display {
  position: relative;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  width: 200px;
}

.film-reel {
  width: 40px;
}

@media only screen and (min-width: 500px)  {

  .movie-wrapper {
    flex-direction: row;
  }

  .movie-display {
    position: relative;
    width: 200px;
    margin: 0 auto;
  }

  .favorites-disp {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

}
